@import "../fonts/stylesheet.css" ;

html, body, *{
    font-family: 'Euclid Circular B', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

a:active{
    color: inherit;
}

.wrapper{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0px 10px;
}

header{
    position: relative;
    width: 100%;
    padding: 46px 0px 23px;
    background: #00144D;
    text-transform: uppercase;
    color: #FFFFFF;
}
header a{
    text-transform: uppercase;
    color: #FFFFFF;
}
.top{
    display: flex;
}
.top .logo{
    display: inline-block;
}
.top .logo img{
    display: inline-block;
    vertical-align: top;
    height: 31px;
    width: 31px;
}
.top .logo h1{
    display: inline-block;
    vertical-align: bottom;
    font-weight: normal;
    margin-left: 13px;
    font-size: 34px;
    letter-spacing: 1.8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-nav{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.top-nav li{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}
.top-nav li:not(:nth-child(1)){
    border-left: 1px solid #FFFFFF;
}
.top-nav li a{
    /* display: block; */
    opacity: 0.5;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.8px;
    padding: 0px 5px;
}
.top-nav li .active-top-nav{
    opacity: 1;
}
nav{
    background: #000E36;
    margin-top: 42px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 55px;
}
.navbar li{
    flex-grow: 1;   
    text-align: left;
    display: inline-block;
}
.navbar li a{
    border-bottom: 1px solid #FFFFFF;
}
.hide-menu{
    width: 50px;
    height: 50px;
    float: right;
    background: #FFFFFF;
    transform: rotate(270deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide-menu span{
    color: #000000;
    font-size: 20px;
}
.find{
    display: block;
    width: 100%;
    max-width: 848px;
    margin-top: 20px;
    height: 35px;
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.8px;
    padding-bottom: 12px;
    padding-left: 70px;
    border-bottom: 1px solid #FFFFFF;
}
.find::placeholder{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.8px;
}
.loupe{
    position: absolute;
    cursor: pointer;
}
.content{
    z-index: 1000;
    position: relative;
    display: grid;
    max-width: 1138px;
    margin: 0 auto;
    grid-template-columns: 1fr 291px;
    margin-top: 42px;
}
.first-col{
    padding: 40px 0px 61px;
    border-top: 7px solid#00144D;
    background: #F4FAFF;
}
.wrapper-padding{
    padding: 0px 36px;
}
.data{
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #373737;
    margin-left: 5px;
}
.first-col h2{
    margin-top: 19px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #000F3A;
}
.icons{
    margin-top: 19px;
}
.icons img{
    margin-left: 18px;
    /* width: 36px;
    height: 36px; */
}
.doctor{
    margin-top: 46px;
    display: flex;
}
.doctor img{
    /* width: 163px; */
    height: 124px;
    padding-left: 39px;
    border-left: 5px solid #00144D;
}
.doctor>div{
    margin-left: 40px;
}
.doc-name{
    padding-right: 34px;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}
.doc-line{
    width: 100%;
    max-width: 541px;
    height: 1px;
    margin-top: 8px;
    background: #000000;
    text-align: left;
}
.doc-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-top: 13px;
}
.doc-speach{
    position: relative;
    color: #F4FAFF;
    background: #00144D;
    padding: 42px 91px 47px 69px;
    margin-top: 68px;
    display: flex;
}
.quotes{
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    line-height: 85px;
}
.doc-speach p{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    margin-left: 30px;
    font-weight: normal;
}
.multicolored-border{
    position: absolute;
    width: 5px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    top: 0;
    left: 0;
}
.multicolored-border .blue-border{
    background: #006FCB;
}
.multicolored-border .green-border{
    background: #00CB51;
}
.multicolored-border .orange-border{
    background: #FF7A00;
}
.mt-25{
    margin-top: 25px;
}
.mt-55{
    margin-top: 55px;
}
.fwb{
    font-weight: 600;
}
.tau{
    color: #000000;
    text-decoration: underline;
}
.h3-article{
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}
.h3-article.fz-18{
    font-size: 18px;
}
.main-text{
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
}
ul.main-text.ln-35{
    line-height: 35px;
}
ul.main-text li{
    padding-left: 20px;
}
.wrap-ul-line{
    display: inline-block;
    margin-right: 18px;
}
.ul-bf-line{
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #000000;
    vertical-align: top;
    margin-top: 17px;
}
ul.main-text li::marker{
    content: "\00B7";
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    line-height: 35px;
}
.main-text.fwn{
    font-weight: normal;
}
.main-img{
    max-width: 100%;
    height: auto;
}
.img-description{
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.main-text-link{
    font-weight: 600;
    text-decoration: underline;
    color: #006FCB;
}
.photo-steps-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.photo-step-wrap{
    display: block;
    margin-top: 35px;
    width: 50%;
}
.photo-step-wrap:nth-child(2n){
    padding-left: 23px;
}
.photo-step-wrap:nth-child(2n+1){
    padding-right: 23px;
}
.photo-step{
    max-width: 100%;
    /* height: 267px; */
}
.photo-step-wrap p.img-description{
    font-style: normal;
    margin-top: 15px;
}
.off-link{
    display: block;
    text-align: center;
    padding: 13px 0px;
    background: linear-gradient(90.3deg, #00144D 1.29%, #002AA3 25.19%, #00144D 58.24%, #00207C 98.92%);
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.bot{
    text-align: center;
}
.bot .lessterin-desc{
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
.bot .lessterin-img{
    /* height: 406px; */
    max-width: 100%;
}
.bot .share{
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #00144D;
}
.bot .bot-icon{
    width: 54px;
    height: 54px;
}
.bot .bot-icon-dot{
    display: inline-block;
    height: 6px;
    width: 6px;
    margin: 0px 20px;
    background: #00144D;
    border-radius: 50%;
}
footer{
    position: relative;
    margin-top: 134px;
    text-align: center;
}
footer p{
    position: relative;
    background: #00144D;
    padding: 40px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 200;
}
.bg-ellipse-top{
    position: absolute;
    left: -559px;
    top: -504px;
    height: 1276px;
    width: 1276px;
    background: #E1F1FF;
    border-radius: 50%;
}
.bg-ellipse-middle{
    position: absolute;
    height: 903px;
    width: 903px;
    right: 14%;
    top: 1671px;
    background: #E1F1FF;
    border-radius: 50%;
}
.bg-ellipse-bot{
    position: absolute;
    left: -157px;
    bottom: 0px;
    height: 475px;
    width: 475px;
    background: #E1F1FF;
    border-radius: 50%;
    z-index: 100;
}
.news{
    background: #F4F4F4;
    padding-bottom: 56px;
}
.news-pad{
    display: block;
    padding: 0px 31px;
}
.news:first-child{
    margin-top: 7px;
}
.news h3{
    color: #FFFFFF;
}
.news .news-name{
    background: #00144D;
    height: 79px;
    border-right: 5px solid #006FCB;
    display: flex;
    align-items: center;
}
.news .news-text{
    margin-top: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    max-width: 228px;
}
.news h3{
    margin-left: 25px;
}
.news .same-pub{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.news-photo{
    max-width: 100%;
    margin-top: 15px;
    /* height: 190px; */
}
.news .news-photo.border-bottom{
    border-bottom: 1px solid #00144D;
}
.news .h3-news-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px
}
.comment{
    margin-top: 25px;
    display: flex;
}
.comment .comment-text{
    display: inline-block;
    margin-left: 30px;
}
.comment .comentator-photo{
    display: inline-block;
    width: 65px;
    height: 65px;
}
.attached-photo-wrap{
    margin-top: 10px;
    display: flex;
    flex-grow: 1;
}
.attached-img-single{
    max-width: 100%;
    margin-top: 10px;
}
.attached-photo-wrap div:nth-child(2n){
    margin-left: 30px;
}
.attached-photo-wrap img{
    max-width: 100%;
}
.comment-text p:nth-of-type(1){
    font-weight: 600;
}
.comment-text p:nth-of-type(3){
    font-size: 13px;
    opacity: 0.9;
}
.menu-burger{
    display: none;
    position: relative;
    height: 34px;
    padding: 0px 6px;
    float: right;
}
.menu-burger-line{
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    margin-top: 17.5px;
}
.menu-burger::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 8px;
    height: 2px;
    width: 30px;
    background: #fff;
}
.menu-burger::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 6px;
    height: 2px;
    width: 30px;
    background: #fff;
}

@media screen and (max-width: 1157px){
    .top{
        display: block;
    }
    .top .logo{
        display: block;
        text-align: center;
    }
    .top-nav{
        margin-top: 20px;
    }
    .bg-ellipse-middle, .bg-ellipse-top, .bg-ellipse-bot{
        display: none
    }
    /* .photo-steps-wrapper{
        display: block;
    }
    .photo-step-wrap:nth-child(2n) {
        margin-left: 0px;
    }
    .photo-step-wrap {
        display: block;
        text-align: center;
    }
    .photo-step{
        max-width: 100%;
    } */
}
@media screen and (max-width: 942px){
    nav{
        display: none;
    }
    .menu-burger{
        display: inline-block;
    }
}
@media screen and (max-width: 769px){
    .content{
        display: block;
    }
    .news{
        margin-top: 25px;
        margin: 0 auto;
        width: 291px;
    }
    .doctor{
        display: block;
    }
    .doc-name{
        margin-top: 15px;
    }
    .top-nav{
        display: block;
    }
    .top-nav li{
        display: block;
        margin-top: 7px;
    }
    .top-nav li:not(:nth-child(1)){
        border-left: none;
    }
    .photo-step-wrap:nth-child(2n+1) {
        padding-right: 10px;
    }
    .photo-step-wrap:nth-child(2n) {
        padding-left: 10px;
    }
}
@media screen and (max-width: 541px){
    .doc-speach{
        padding: 42px 32px 47px 34px;
    }
   .wrapper-padding{
        padding: 0px 15px;
   }
   .menu-burger{
      position: absolute;
      left: 50%;
      margin-left: -15px;
      top: 80px;
   }
   .top-nav{
       margin-top: 40px;
   }
}
@media screen and (max-width: 415px){
    .photo-step-wrap{
        width: 100%;
    }
    .photo-step-wrap:nth-child(2n+1) {
        padding-right: 0px;
    }
    .photo-step-wrap:nth-child(2n) {
        padding-left: 0px;
    }
    /* .top .logo img{
        width: 30px;
        height: 3px;
    } */
    .top .logo h1{
        margin-left: 0px;
        letter-spacing: 1px;
        font-size: 33px;
    }
}