html, body, * {
  font-family: Roboto, sans-serif;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.content-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 15px 0px;
}

.top-cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-cap img {
  vertical-align: top;
}

.main-title {
  display: inline-block;
  width: 243px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  color: #3F3F3F;
}

.cap-right, .logo, .cap-right p {
  display: inline-block;
}

.cap-right {
  position: relative;
  margin-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F1F1;
}

.cap-right .discover {
  margin-left: 27px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.cap-right .cur-page {
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  opacity: 0.6;
}

.cap-right .main-news-photo {
  position: absolute;
  right: 212px;
}

.cap-right .main-news {
  position: absolute;
  width: 136px;
  right: 69px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.cap-right .main-news a {
  color: #000000;
}

.nav-bar {
  background: #000000;
  margin-top: 18px;
  padding: 7px 7px 7px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-bar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nav-bar nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
}

.nav-bar nav ul li a {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.nav-bar form {
  position: relative;
  width: 278px;
  height: 39px;
}

.nav-bar form input {
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  padding-left: 15px;
}

.nav-bar form button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 22px;
  top: 7px;
  background: none;
  border: none;
}

.mt35 {
  margin-top: 35px;
  max-width: 100%;
}

.all-content {
  margin-top: 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 285px;
      grid-template-columns: 1fr 285px;
  grid-column-gap: 65px;
  color: #000000;
}

.date {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
}

.article {
  margin-top: 19px;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
}

.article p {
  margin-top: 40px;
}

.count-com {
  background: #F1F1F1;
  margin-top: 43px;
  padding: 2px 6px 2px 2px;
}

.count-com * {
  display: inline-block;
}

.count-com .facebook {
  background: #485A96;
  padding: 1.75px 4px 2px 2px;
}

.count-com .facebook .like {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.count-com .number {
  position: relative;
  font-size: 12px;
  line-height: 140%;
  padding: 2px 4px 1px 5px;
  border: 1px solid #C4C4C4;
  background: #fff;
  margin-left: 7px;
}

.count-com .number:before {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 7px;
  left: -9px;
  content: "";
  border-width: 6px 6px 0px;
  border-top-color: #C4C4C4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.count-com .number:after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 7.5px;
  left: -7px;
  content: "";
  border-width: 5px 5px 0px;
  border-top-color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.count-com .comment-number {
  float: right;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
}

.prof-top {
  margin-top: 40px;
  padding-top: 26px;
  border-top: 5px solid #FF1E1E;
  font-size: 20px;
  line-height: 140%;
}

.prof {
  margin-top: 23px;
  background: url("../img/prof-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 17px;
}

.prof p {
  font-size: 20px;
  line-height: 140%;
  margin-left: 22px;
}

.prof img {
  margin-top: 0px;
  max-width: 100%;
}

.prof-bot {
  margin-top: 20px;
  padding-bottom: 34px;
  font-size: 20px;
  line-height: 140%;
  border-bottom: 5px solid #FF1E1E;
}

.news-block img {
  max-width: 100%;
}

.news-block p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.news-block:not(:first-child) {
  margin-top: 49px;
}

.fw700 {
  font-weight: 700;
}

.dialog {
  margin-top: 50px;
}

.dialog .mt35 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.dialog p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: #000000;
}

.fat-groups {
  margin-top: 27px;
}

.fat-groups li {
  margin-left: 25px;
  padding-left: 9px;
  margin-top: 30px;
}

.fat-groups li h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
}

.fat-groups li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.fat-groups li::marker {
  content: "\25A0";
  font-size: 18px;
  color: #FF1E1E;
}

.link {
  text-decoration: underline;
  color: #168DE2;
}

.bor-bot {
  padding-bottom: 70px;
  border-bottom: 1px solid #000000;
}

.text {
  margin-top: 35px;
}

.text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.red {
  color: #FF1E1E;
}

.adding {
  margin-top: 55px;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  opacity: 0.6;
}

.attention {
  margin-top: 33px;
  padding: 30px 20px 35px;
  background: rgba(255, 30, 30, 0.1);
  border-top: 5px solid #FF1E1E;
  border-bottom: 5px solid #FF1E1E;
}

.attention p {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.attention p:not(:first-child) {
  margin-top: 40px;
}

.stop {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 140%;
}

.timer {
  margin-top: 20px;
  font-weight: bold;
  font-size: 59px;
  line-height: 140%;
  text-align: center;
  color: #FF1E1E;
}

.info {
  margin-top: 75px;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

.info-add {
  font-size: 16px;
  line-height: 140%;
  margin-top: 35px;
}

.share {
  padding: 10px 18px 16px;
  margin-top: 55px;
  background: #F1F1F1;
}

.share p {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

.share .social {
  margin-top: 20px;
}

.reviews {
  margin-top: 114px;
}

.reviews h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  border-bottom: 1px solid black;
}

.reviews .comment {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.reviews .comment .comm-photo {
  width: 50px;
  height: 50px;
}

.reviews .comment .comment-content {
  margin-left: 10px;
}

.reviews .comment .comment-content h4 {
  font-weight: bold;
  font-size: 20px;
}

.reviews .comment .comment-content p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 140%;
}

.reviews .comment .comment-content img {
  margin-top: 15px;
  max-width: 100%;
}

.reviews .comment .comment-content .comm-time {
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}

.buy-form {
  display: block;
  margin: 0 auto;
  padding-right: 10px;
  max-width: 350px;
  min-width: 300px;
}

.buy-form input {
  font-family: Roboto;
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-top: 35px;
  background: #FFFFFF;
  border: 1px solid #555555;
  border-radius: 1px;
  font-size: 16px;
  line-height: 140%;
  color: black;
}

.buy-form input::-webkit-input-placeholder {
  color: #555555;
}

.buy-form input:-ms-input-placeholder {
  color: #555555;
}

.buy-form input::-ms-input-placeholder {
  color: #555555;
}

.buy-form input::placeholder {
  color: #555555;
}

.buy-form button {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 43px;
  background: #FF1E1E;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.buy-button {
  display: block;
  min-width: 280px;
  max-width: 330px;
  padding: 15px 0px;
  text-align: center;
  margin: 20px auto 0;
  background: #FF1E1E;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

.bot {
  margin-top: 100px;
  background: #EBEBEB;
  padding: 22px 10px 54px;
  text-align: center;
}

.bot p {
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  opacity: 0.5;
}

.site-screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.burger-menu {
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

.burger-menu span {
  position: relative;
  display: inline-block;
  height: 3px;
  width: 25px;
  background: #000;
}

.burger-menu span::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 25px;
  background: #000;
  left: 50%;
  margin-left: -12.5px;
  top: 8px;
}

.burger-menu span::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 25px;
  background: #000;
  left: 50%;
  margin-left: -12.5px;
  top: 16px;
}

@media screen and (max-width: 1062px) {
  .top-cap {
    display: block;
    text-align: center;
  }
  .top-cap .cap-right {
    width: 100%;
    margin-left: 0px;
    height: 56px;
    margin-top: 20px;
  }
  .top-cap .cap-right .main-news {
    text-align: left;
    display: block;
  }
  .nav-bar nav {
    display: none;
  }
  .burger-menu {
    display: inline-block;
  }
  .all-content {
    display: block;
  }
  .news .news-block {
    width: 285px;
    margin: 40px auto 0px auto;
  }
}

@media screen and (max-width: 691px) {
  .top-cap .cap-right {
    text-align: left;
    padding: 20px 20px;
    display: block;
    height: 110px;
  }
  .top-cap .cap-right .main-news-photo {
    left: 20px;
    top: 45px;
  }
  .top-cap .cap-right .main-news-photo img {
    width: 50px;
    height: 50px;
  }
  .top-cap .cap-right .main-news {
    position: static;
    width: auto;
    text-align: left;
    margin-left: 60px;
    margin-top: 24px;
  }
  .top-cap .cap-right .discover {
    margin-left: 0px;
  }
}

@media screen and (max-width: 553px) {
  .prof {
    display: block;
    padding-bottom: 15px;
  }
  .prof img {
    display: block;
    margin: 0 auto;
  }
  .prof p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 404px) {
  .top-cap .cap-right {
    height: 130px;
  }
  .top-cap .cap-right .main-news-photo {
    left: 20px;
    top: 65px;
  }
  .top-cap .cap-right .cur-page {
    margin-left: 0px;
  }
  .top-cap .cap-right .main-news {
    margin-top: 15px;
  }
  .nav-bar form {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */